
<%= form_for(@position) do |f| %>
  <% if @position.errors.any? %>
    <div id="error_explanation" >
      <!-- バリデーションのエラー件数 -->
      <h2><%= @position.errors.count %>件のエラーがあります。</h2>

      <ul>
        <% @position.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<!-- f.select(form_for文でのセレクトボックスを使用) :name(保存するカラム),
    Stack.all.map表示させるデータ{[ 表示させる項目, 保存する内容]}(空白を間に入れたいので "#{} #{}" にしている) -->
  <%= f.select :name, Stack.all.map{|t| ["#{t.code} #{t.company}", "#{t.code}#{t.company}"]} %>

  <br>
  <%= f.label "株数" %>
  <%= f.number_field :lot %>
  <br>
  <%= f.label "購入価格" %>
  <%= f.number_field :buy_price %>
  <br>
  <%= f.label "購入理由" %>
  <%= f.text_field :buy_reason %>
  <!-- <br>
  <%= f.label "購入理由（画像）" %>
  <%= f.file_field :buy_image %> -->
  <br>
  <%= f.label "売却価格（予定）" %>
  <%= f.number_field :sell_price %>
  <br>
  <%= f.label "売却（比率売却）" %>
  <%= f.number_field :sell_percent %>
  <br>
  <%= f.label "（購入後の）最高値後からの騰落％" %>
  <%= f.number_field :high_price_per %>
  <br>
  <%= f.label "売却理由" %>
  <%= f.text_field :sell_reason%>
  <br>
  <%= f.submit %>
<% end %>
<%= link_to "戻る", positions_path%>
