<!-- 個人のみ閲覧可能 -->
<div class="container">
  <div class="row">
    <div class="col">
<p><%= notice %></p>
<h3>ポートフォリオ</h3>

<%= link_to "新規の株式取引を記録をする", new_position_path %>
<p>現在のポジション一覧</p>
<table class="table table-hover">
  <thead>
    <tr>
      <th>証券コード</th>
      <th>銘柄</th>
      <th>保有数</th>
      <th>買付け価格</th>
      <th>株価</th>
      <th>損益</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
    <% if position.user_id == current_user.id%>
      <tr>
        <td><%= position.position_code(position.name) %></td>
        <td><%= position.position_company(position.name) %></td>
        <td><%= position.lot %>株</td>
        <td><%= position.buy_price %>円</td>
        <% @stacks.each do |stack| %>
          <% if stack.code == position.position_code(position.name).to_i %>
            <td><%= stack.stock_price %>円</td>
            <td><%= (stack.stock_price - position.buy_price) * position.lot %>円</td>
          <% end %>
        <% end %>
        <td><%= link_to "変更", edit_position_path(position.id) %></td>
        <td><%= link_to "削除", position_path(position.id), method: :delete, data: { confirm: "本当に削除してよろしいですか？" } %></td>
        <td><%= link_to "詳細確認", position_path(position.id)%></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<h3>保有株の比率（金額）</h3>

<!-- あとでcssに記述 -->
<div class="pie_chrat">
<!-- ここに円グラフを表示 -->
<canvas id="myPieChart"></canvas>
</div>

<%= javascript_tag do %>
  (window.onload = function(){
    var ctx = document.getElementById("myPieChart").getContext("2d");
    window.pieData = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: pieLabels,
        datasets: [{
          backgroundColor: pieColors,
          data: date
        }]
      }
    });
  })();

  var pieLabels = [
      <% @positions.each do |position| %>
      '<%= "#{position.position_company(position.name)}" %>',
      <% end %>
      ];
  var pieColors = ['gray','red','yellow','blue','lime','green','aqua','purple','navy','teal','fuchsia','maroon'];
  var date = [
    <% @positions.each do |position| %>
    <%= "#{position.buy_price * position.lot}," %>
    <% end %>
  ];
<% end %>
</div>
</div>
</div>
