<h3>さんのポートフォリオ</h3>

<%= @position.lot %>
<%= @position.buy_price %>
<%= @position.buy_reason %>
<%= @position.buy_image %>
<%= @position.sell_price %>
<%= @position.sell_percent %>
<%= @position.high_price_per %>
<%= @position.sell_reason %>

<%= link_to "戻る", positions_path %>
