<div class="container">
  <div class="row">
    <div class="col">

<h3>さんのポートフォリオ</h3>

<p><%= @position.lot %>株</p>
<p><%= @position.buy_price %>円</p>
<p>取引理由：<%= @position.buy_reason %></p>
<p>取引理由（画像）：<%= @position.buy_image %></p>
<p>売却価格（予定）<%= @position.sell_price %></p>
<p>売却（比率売却）<%= @position.sell_percent %></p>
<p>（購入後の）最高値後からの騰落％<%= @position.high_price_per %></p>
<p>売却理由<%= @position.sell_reason %></p>

<p><%= link_to "戻る", positions_path %>
</div>
</div>
</div>
