<div class="container">
  <div class="thumbnail login_form">
<div class="line_header">
  <h2>お問い合わせ</h2>
</div>
<%= form_for(@contact, url: confirm_contacts_path) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation" >
      <!-- バリデーションのエラー件数 -->
      <h2><%= @contact.errors.count %>件のエラーがあります。</h2>

      <ul>
        <% @contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %><br>
  <%= f.text_field :name, class: "form-control" %>
  <br>
  <%= f.label :email %><br>
  <%= f.text_field :email, class: "form-control" %>
  <br>
  <%= f.label :content %><br>
  <%= f.text_field :content, class: "form-control" %>
  <br>
  <%= f.submit "送信", class: "btn btn-primary btn-block"  %>
<% end %>

</div>
</div>
