<div class="container">
  <div class="row">
    <div class="col">

<%= form_for(@contact, url: confirm_contacts_path) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation" >
      <!-- バリデーションのエラー件数 -->
      <h2><%= @contact.errors.count %>件のエラーがあります。</h2>

      <ul>
        <% @contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <br>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <br>
  <%= f.submit %>
<% end %>
<%= link_to "戻る", root_path %>

</div>
</div>
</div>
