<!-- 個人のみ閲覧可能 -->
<div class="container">
  <div class="row">
    <div class="col">
      <p class="text-center"><%= notice %></p>
      <div class="line_header">
        <h3>投資候補先の一覧</h3>
      </div>
      <div class="thumbnail position_table">
        <p><%= link_to "候補を記録する", new_selection_path, class: "btn btn-primary position_add" %></p>
        <p>現在の候補</p>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="row"></th>
                <th class="text-center">候補順位</th>
                <th class="text-center">証券コード</th>
                <th class="text-center">銘柄</th>
                <th class="text-center">購入予定株価</th>
                <th class="text-center">株価</th>
              </tr>
            </thead>
            <% current_user.selections.each do |selection| %>
              <tbody>
                <tr>
                  <th scope="row"></th>
                  <td class="text-center"><%= selection.selection_order %></td>
                  <td class="text-center"><%= selection.selection_code(selection.name) %></td>
                  <td class="text-center"><%= selection.selection_company(selection.name) %></td>
                  <td class="text-center"><%= selection.terget_price %>円</td>
                  <% @stacks.each do |stack| %>
                    <% if stack.code == selection.selection_code(selection.name).to_i %>
                      <% if stack.stock_price < selection.terget_price %>
                        <td class="text-center success"><%= stack.stock_price %>円</td>
                      <% else %>
                        <td class="text-center"><%= stack.stock_price %>円</td>
                      <% end %>
                    <% end %>
                  <% end %>
                </tr>
                <tr>
                  <th scope="row">選定理由</th>
                  <td colspan="5"><%= selection.buy_selection %></td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td colspan="4"></td>
                  <td class="text-center"><%= link_to "変更", edit_selection_path(selection.id), class: "btn btn-success btn-sm" %>
                    <%= link_to "削除", selection_path(selection.id), class: "btn btn-danger btn-sm", method: :delete, data: { confirm: "本当に削除してよろしいですか？" } %></td>
                </tr>
              </tbody>
            <% end %>
          </table>
        </div>
      </div>
      <p class="help-block">※購入予定株価より株価が下回れば緑色になります。</p>
    </div>
  </div>
</div>

  <!-- CSVダウンロード -->
  <div class="row">
    <div class="col-xs-12">
      <div class=" text-right csv_button">
        <p><b>候補一覧（詳細）をダウンロードする<b>　
          <a><%= link_to 'CSVダウンロード', selections_path(format: :csv), class: "btn btn-default" %></a>
        </p>
      </div>
    </div>
  </div>
