<!DOCTYPE html>
<html>
<head>
  <title>StockNote</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="clearfix">
    <div class="title">
      <p>Stock-Note</p>
    </div>
    <nav>
      <ul class="top_list">
        <li><%= link_to "トップページ", root_path %></li>
        <li><%= link_to "ポートフォリオ", positions_path %></li>
        <li><%= link_to "お問い合わせ", new_contact_path %></li>
        <li><%= link_to 'ログイン' %></li>
       <li><%= link_to 'サインアップ' %></li>
      </ul>
    </nav>
  </header>

<%= yield %>

  <footer>
    <p>A man watching migratory birds</p>
    <p>2017-2017 StockNote</p>
  </footer>
</body>
</html>
