<!DOCTYPE html>
<html>
<head>
  <title>StockNote</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- chart.js用 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- 組み込み用のコードを使用　ダウンロードはしてない -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.js"></script>

</head>
<body>
  <header class="clearfix">
    <div class="title">
      <p></p>
    </div>
    <nav>
      <ul class="top_list">
        <li><%= link_to "トップページ", root_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "ポートフォリオ", positions_path %></li>
          <li><%= link_to "投資候補一覧", selections_path %></li>
          <li><%= link_to "マイページ", edit_user_registration_path %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "ログイン", new_user_session_path %></li>
          <li><%= link_to "サインアップ", new_user_registration_path %></li>
          <!-- <li><%= link_to "お問い合わせ", new_contact_path %></li> -->
        <% end %>
      </ul>
    </nav>
  </header>

<%= yield %>

  <footer>
    <div class=footer>
    <p>2017-2017 StockNote</p>
  </div>
  </footer>
</body>
</html>
